Source: opi-control
Section: admin
Priority: extra
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 12.0.0), cmake,
	libcrypto++-dev,
	libutils-dev (>= 1.5.1),
	libopi-dev (>= 1.6.42),
	libkinguard-dev (>= 1.0.26),
	libssl-dev,
	libcryptsetup-dev,
	libparted-dev,
	libudev-dev,
	pkg-config
Standards-Version: 3.9.8
Homepage:http://www.openproducts.se

Package: opi-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	opi-postsetup,
	secop,
	rsync,
	openssl
Pre-Depends: kgp-ccheck (>=1.9)
Description: OPI control application
 opi-control manages startup and unlocking of OPI 
