Source: opi-control
Section: admin
Priority: extra
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 8.0.0), cmake,
	libcurl4-gnutls-dev,
	libcrypto++-dev,
	libutils-dev (>= 1.5.1),
	libjsoncpp-dev,
	libopi-dev (>= 1.6.0),
	libssl-dev,
	libcryptsetup-dev,
	libparted0-dev,
	libudev-dev
Standards-Version: 3.9.4
Homepage:http://www.openproducts.se

Package: opi-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	secop,
	rsync,
	openssl
Description: OPI control application
 opi-control manages startup and unlocking of OPI 
