[Unit]
Description=OPI startup control application
Wants=network-online.target opi-access.service opi-postsetup.service
After=network-online.target opi-access.service opi-postsetup.service

[Service]
Type=forking
RemainAfterExit=yes
PIDFile=/var/run/opi-control.pid
ExecStart=/usr/sbin/opi-control -d
ExecStopPost=/usr/sbin/kgp-notifier -l "LOG_NOTICE" -m "Shutting down" -i "sysctrl"

[Install]
WantedBy=multi-user.target
