[Unit]
Description=OPI startup control application
Wants=network-online.target opi-access.service opi-postsetup.service
After=network-online.target opi-access.service opi-postsetup.service

[Service]
Type=forking
RemainAfterExit=yes
PIDFile=/var/run/opi-control.pid
ExecStart=/usr/sbin/opi-control -d

[Install]
WantedBy=multi-user.target
